.error-msg-card {
  padding: 2rem 2.5rem;

  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: var(--second-color);
}

.err-header {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
}

.err-text {
  padding: 1rem 0;
  line-height: 1.5;
}

.err-btn {
  width: 100%;
  padding: 0.5rem 0;

  border: none;
  border-radius: calc(var(--border-radius) * 2);
  color: var(--second-color);
  background-color: var(--main-color);
  text-transform: uppercase;
}

.err-message {
  padding-top: 4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.err-message > .fa-dizzy {
  padding-right: 1rem;
  color: var(--main-color);
  font-size: 2rem;
}
